<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Master</title>
	<link rel="icon" type="image/x-icon" href="~/SiteIcon.ico">
	<link rel="stylesheet" href="~/css/MasterStyle.css">
	@if (IsSectionDefined("SiteLinks"))
	{
		@RenderSection("SiteLinks")
	}
	<script src="~/js/jquery-3.4.1.min.js"></script>
	<script src="~/js/MasterScript.js"></script>
	@if (IsSectionDefined("SiteScripts"))
	{
		@RenderSection("SiteScripts")
	}
</head>
<body>
	<header class="Header">
		<div class="InnerHeader">
			<a href="@Url.Action("Index", "Home")" class="HeaderOuterLogo">
				<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 100">
					<path d="M67.99 23.16Q70.4 23.16 71.94 23.95Q73.52 24.69 74.45 26.14Q75.37 27.55 75.72 29.53Q76.07 31.5 76.07 33.88Q76.07 35.86 75.85 38.1Q75.68 40.29 75.46 42.67Q74.89 48.12 74.49 53.39Q74.14 58.66 74.14 63.72Q74.14 69.39 74.67 73.96Q75.24 78.48 76.47 82.17Q77.74 85.87 79.81 88.81Q81.87 91.71 84.91 94.08Q85.39 94.48 85.65 94.74Q85.92 94.96 85.92 95.31Q85.92 95.88 85.13 95.88Q84.69 95.88 84.16 95.71Q81.13 94.57 77.88 92.37Q74.62 90.17 71.94 86.66Q69.26 83.14 67.5 78.13Q65.79 73.08 65.79 66.22Q65.79 61.56 66.1 56.99Q66.41 52.42 66.76 48.38Q67.15 44.29 67.46 40.91Q67.77 37.48 67.77 35.06Q67.77 33.75 67.55 33Q67.33 32.25 66.98 31.9Q66.67 31.5 66.23 31.42Q65.79 31.33 65.39 31.33Q64.87 31.33 64.34 31.68Q63.81 32.03 63.29 33Q62.76 33.97 62.23 35.64Q61.75 37.26 61.31 39.9Q61 41.52 60.6 43.81Q60.25 46.09 59.77 48.69Q59.33 51.28 58.85 54Q58.41 56.69 57.97 59.1Q57.57 61.52 57.18 63.5Q56.83 65.43 56.56 66.53Q55.46 71.19 53.71 73.34Q51.99 75.49 49.35 75.49Q47.42 75.49 46.28 74.62Q45.18 73.74 44.61 72.42Q44.04 71.1 43.91 69.56Q43.77 67.98 43.77 66.62Q43.77 57.78 43.99 49.3Q44.21 40.82 44.21 32.3Q44.21 29.13 44.04 26.63Q43.86 24.12 43.29 22.41Q42.72 20.65 41.71 19.73Q40.7 18.76 39.07 18.76Q37.53 18.76 36.39 20.56Q35.29 22.32 34.54 25.4Q33.8 28.47 33.4 32.65Q33.01 36.82 32.88 41.61Q32.79 44.91 32.7 48.34Q32.66 51.76 32.52 55.02Q32.39 58.22 32.17 61.12Q31.95 63.98 31.64 66.27Q31.34 70.22 30.9 72.81Q30.5 75.36 30.19 76.68Q29.93 77.82 29.27 78.26Q28.61 78.7 27.78 78.83Q26.99 78.97 26.15 78.97Q25.32 78.97 24.7 79.23Q23.95 79.54 23.16 79.54Q22.42 79.54 21.89 79.19Q21.41 78.83 21.41 77.96Q21.41 77.65 21.45 77.43Q21.54 76.9 21.8 75.14Q22.11 73.38 22.46 70.92Q22.86 68.42 23.25 65.43Q23.65 62.44 23.95 59.41Q24.26 56.38 24.48 53.52Q24.7 50.67 24.7 48.47Q24.7 44.82 24.44 42.05Q24.22 39.24 23.82 37.09Q23.43 34.89 22.86 33.17Q22.33 31.42 21.71 29.88Q21.1 28.3 20.44 26.76Q19.82 25.18 19.21 23.33Q18.42 20.96 18.07 18.67Q17.76 16.34 17.76 14.19Q17.76 11.99 18.02 10.1Q18.33 8.17 18.77 6.76Q19.25 5.36 19.78 4.57Q20.31 3.73 20.79 3.73Q21.36 3.73 21.67 4.43Q21.98 5.14 21.98 6.15Q21.98 6.5 21.93 6.98Q21.93 7.47 21.93 8.13Q21.93 9.22 22.06 10.81Q22.2 12.34 22.68 14.41Q23.16 16.43 24.09 18.94Q25.01 21.44 26.59 24.43Q27.29 25.75 27.87 27.07Q28.44 28.34 28.92 29.62Q29.71 25.62 30.99 22.72Q32.3 19.82 33.8 17.79Q35.29 15.77 36.87 14.5Q38.46 13.22 39.91 12.56Q41.36 11.86 42.5 11.64Q43.64 11.38 44.3 11.38Q46.15 11.38 47.46 12.39Q48.78 13.4 49.71 15.2Q50.67 16.96 51.24 19.38Q51.86 21.75 52.17 24.52Q52.52 27.24 52.61 30.23Q52.74 33.17 52.74 36.08Q52.74 42.1 52.52 46.49Q52.34 50.84 52.08 54.09Q51.86 57.3 51.64 59.63Q51.46 61.92 51.46 63.8Q51.46 64.29 51.64 64.55Q51.86 64.82 52.12 64.82Q52.56 64.82 52.87 64.42Q53.18 64.02 53.49 62.71Q53.84 61.34 54.23 58.75Q54.67 56.16 55.38 51.76Q55.95 48.12 56.43 44.6Q56.91 41.08 57.48 37.92Q58.1 34.71 58.89 32.03Q59.68 29.31 60.87 27.37Q62.1 25.4 63.81 24.3Q65.53 23.16 67.99 23.16ZM106.44 58.71Q105.12 62.66 103.98 65.65Q102.84 68.59 101.69 70.62Q100.55 72.59 99.23 73.6Q97.96 74.62 96.38 74.62Q95.28 74.62 94.53 73.91Q93.83 73.21 93.34 72.33Q92.86 71.45 92.6 70.66Q92.38 69.83 92.29 69.56Q92.25 69.47 92.2 69.3Q92.16 69.12 92.07 69.12Q91.98 69.12 91.89 69.25Q91.85 69.39 91.76 69.52Q91.63 69.83 91.06 70.66Q90.49 71.5 89.61 72.37Q88.77 73.25 87.67 73.96Q86.58 74.62 85.3 74.62Q84.29 74.62 83.32 73.96Q82.4 73.3 81.7 72.2Q81 71.06 80.56 69.52Q80.16 67.98 80.16 66.22Q80.16 62.4 81.35 59.06Q82.58 55.67 85.3 52.29Q86.62 50.67 88.07 49.39Q89.56 48.12 90.97 47.28Q92.38 46.4 93.65 45.96Q94.97 45.52 95.89 45.52Q96.51 45.52 97.12 45.74Q97.74 45.96 98.22 46.49Q98.71 47.02 98.97 47.9Q99.28 48.73 99.28 49.96Q99.28 51.28 98.84 52.82Q98.44 54.36 97.61 55.72Q96.82 57.04 95.63 57.92Q94.44 58.79 92.95 58.79Q92.03 58.79 92.03 58.09Q92.03 57.61 92.25 56.51Q92.51 55.41 92.51 54.4Q92.51 54 92.46 53.48Q92.42 52.91 92.25 52.38Q92.07 51.85 91.76 51.5Q91.45 51.15 90.93 51.15Q89.74 51.15 88.86 52.25Q87.98 53.35 87.37 54.93Q86.8 56.51 86.49 58.22Q86.18 59.94 86.18 61.17Q86.18 62.84 86.44 63.98Q86.71 65.08 87.15 65.78Q87.59 66.44 88.16 66.75Q88.73 67.01 89.34 67.01Q90.79 67.01 91.94 66.05Q93.08 65.04 93.92 63.85Q94.75 62.62 95.28 61.65Q95.85 60.64 96.2 60.64Q96.6 60.64 96.73 61.56Q96.99 63.54 97.3 64.82Q97.61 66.09 97.91 66.84Q98.22 67.54 98.53 67.85Q98.88 68.11 99.23 68.11Q99.89 68.11 100.55 67.36Q101.21 66.57 101.87 65.25Q102.53 63.94 103.23 62.18Q103.93 60.42 104.73 58.44Q105.21 57.34 105.87 57.34Q106.53 57.34 106.53 58.14Q106.53 58.44 106.44 58.71ZM118.88 64.82L117.95 67.19L118.57 66.66Q119.49 65.83 120.9 63.89Q122.35 61.96 123.75 58.44Q124.24 57.34 124.98 57.34Q125.6 57.34 125.6 58.05Q125.6 58.31 125.47 58.71Q124.46 61.56 123.27 63.58Q122.13 65.61 120.9 67.01Q119.67 68.42 118.44 69.3Q117.25 70.13 116.2 70.57Q115.05 72.29 113.51 73.56Q112.02 74.79 110 74.79Q108.68 74.79 107.76 74.22Q106.83 73.65 106.26 72.81Q105.69 71.98 105.43 71.01Q105.17 70 105.17 69.21Q105.17 67.72 105.52 66.53Q105.91 65.34 106.44 64.51Q106.97 63.67 107.54 63.28Q108.15 62.84 108.55 62.84Q109.08 62.84 109.6 63.72Q110.13 64.6 110.75 66.18Q111.63 68.55 112.24 69.61Q112.9 69.52 113.51 69.43Q114.13 69.3 114.75 69.08Q115.05 68.46 115.05 67.98Q115.05 67.19 114.61 66.13Q114.17 65.04 113.47 63.85Q112.81 62.62 111.98 61.39Q111.14 60.11 110.31 59.01Q109.52 57.87 108.81 56.95Q108.11 55.98 107.71 55.37Q107.41 56.38 107.19 57.13Q106.97 57.83 106.75 58.36Q106.44 59.23 106.18 59.54Q105.96 59.81 105.56 59.81Q104.86 59.81 104.86 58.97Q104.86 58.66 104.95 58.4Q105.3 57.26 105.52 56.38Q105.78 55.46 105.96 54.84Q106.13 54.09 106.26 53.57Q105.52 52.64 104.9 51.46Q104.33 50.23 104.33 48.34Q104.33 46.97 104.81 45.35Q105.34 43.68 106.13 42.27Q106.92 40.82 107.85 39.85Q108.81 38.89 109.69 38.89Q110.22 38.89 110.61 39.24Q111.05 39.55 111.32 40.07Q111.63 40.6 111.76 41.3Q111.93 41.96 111.93 42.62Q111.93 44.12 111.41 46.01Q111.36 46.18 111.27 46.53Q111.23 46.84 111.23 47.19Q111.23 48.47 112.9 50.75Q114.57 53.04 117.07 55.89Q118.26 57.26 118.79 58.79Q119.32 60.29 119.32 62.27Q119.32 62.88 119.18 63.63Q119.05 64.33 118.88 64.82ZM141.38 58.71Q139.97 62.75 138.83 65.74Q137.73 68.73 136.59 70.75Q135.44 72.73 134.13 73.74Q132.81 74.7 130.96 74.7Q129.91 74.7 128.72 74.13Q127.53 73.52 126.52 71.85Q125.51 70.18 124.85 67.19Q124.19 64.16 124.19 59.32Q124.19 58.05 124.28 55.98Q124.41 53.87 124.54 51.32Q124.72 48.73 124.94 45.88Q125.16 42.97 125.42 40.07Q125.2 40.12 125.03 40.16Q124.85 40.16 124.63 40.16Q122.26 40.43 121.16 40.65Q120.06 40.82 119.84 41.04Q119.62 41.22 119.62 41.48Q119.62 41.7 119.58 41.92Q119.58 42.1 119.45 42.27Q119.36 42.4 119.01 42.4Q118.79 42.4 118.44 42.32Q118.13 42.18 117.78 41.96Q117.47 41.7 117.25 41.35Q117.03 40.95 117.03 40.43Q117.03 39.94 117.21 39.42Q117.43 38.89 117.73 38.4Q118.04 37.88 118.61 37.13Q119.23 36.38 120.19 35.64Q121.21 34.84 122.66 34.19Q124.11 33.53 126.08 33.13Q126.3 31.29 126.52 29.88Q126.79 28.43 127.05 27.33Q127.31 26.19 127.53 25.31Q127.8 24.39 128.06 23.64Q128.59 21.92 129.38 21.05Q130.17 20.12 131.18 19.11Q132.28 18.01 133.03 17.66Q133.82 17.27 134.21 17.22Q134.61 17.22 134.92 17.49Q135.27 17.71 135.27 18.32Q135.27 18.67 135.22 18.94Q135.18 19.16 135.14 19.33Q135 19.82 134.7 21.05Q134.43 22.28 134.04 24.08Q133.69 25.84 133.29 28.08Q132.89 30.27 132.59 32.78Q134.96 32.96 136.54 33.39Q138.17 33.79 138.52 33.88Q139.27 34.14 139.53 34.36Q139.79 34.58 140.01 35.11Q140.19 35.46 140.41 35.68Q140.67 35.9 140.89 36.08Q141.16 36.25 141.33 36.47Q141.51 36.69 141.51 37.09Q141.51 37.44 141.33 37.79Q141.16 38.1 140.94 38.18Q140.63 38.36 139.79 38.54Q138.96 38.67 137.77 38.84Q136.59 38.98 135.05 39.15Q133.55 39.28 131.93 39.46Q131.4 44.91 130.87 49.96Q130.39 55.02 130.39 58.97Q130.39 60.99 130.61 62.66Q130.87 64.33 131.36 65.56Q131.84 66.75 132.5 67.41Q133.2 68.07 134.08 68.07Q134.87 68.07 135.53 67.36Q136.19 66.62 136.85 65.34Q137.51 64.07 138.17 62.31Q138.87 60.55 139.66 58.44Q140.06 57.34 140.8 57.34Q141.51 57.34 141.51 58.14Q141.51 58.27 141.46 58.44Q141.42 58.62 141.38 58.71ZM161.55 57.34Q161.81 57.34 161.99 57.52Q162.21 57.7 162.21 58.05Q162.21 58.4 162.07 58.71Q161.42 60.55 160.62 62.18Q159.88 63.8 159.22 65.08Q158.43 66.53 157.68 67.8Q156.76 69.25 155.61 70.57Q154.52 71.85 153.2 72.86Q151.88 73.82 150.34 74.4Q148.8 74.97 147.09 74.97Q145.81 74.97 144.28 74.53Q142.78 74.09 141.46 72.9Q140.19 71.71 139.31 69.65Q138.48 67.58 138.48 64.33Q138.48 62.84 138.74 61.3Q139.05 59.76 139.53 58.36Q140.06 56.95 140.67 55.72Q141.33 54.49 141.99 53.57Q143.13 51.98 144.41 50.62Q145.68 49.21 146.96 48.2Q148.28 47.15 149.51 46.58Q150.74 46.01 151.79 46.01Q153.46 46.01 154.69 47.28Q155.97 48.56 155.97 50.93Q155.97 52.99 154.91 55.24Q153.86 57.43 152.27 59.54Q150.69 61.65 148.89 63.45Q147.09 65.25 145.59 66.44Q146.39 68.42 147.62 69.34Q148.85 70.26 150.12 70.26Q152.1 70.26 153.64 68.99Q155.22 67.72 156.45 65.87Q157.72 64.02 158.65 62Q159.61 59.98 160.36 58.44Q160.62 57.92 160.89 57.65Q161.15 57.34 161.55 57.34ZM144.45 59.45Q144.45 62.05 144.85 64.02Q145.73 63.15 146.61 62.05Q147.53 60.9 148.23 59.72Q148.98 58.53 149.42 57.3Q149.9 56.07 149.9 54.93Q149.9 53.17 149.15 52.2Q148.41 51.24 147.66 51.24Q147.22 51.24 146.65 51.81Q146.12 52.33 145.59 53.39Q145.11 54.44 144.76 55.98Q144.45 57.48 144.45 59.45ZM181.81 58.71Q180.79 62.13 179.74 65.04Q178.69 67.94 177.5 70.04Q176.31 72.15 174.86 73.34Q173.46 74.53 171.65 74.53Q169.46 74.53 168.09 72.33Q166.78 70.09 166.78 66.44Q166.78 64.86 166.91 63.45Q167.08 62.05 167.26 60.73Q167.48 59.41 167.61 58.18Q167.79 56.95 167.79 55.76Q167.79 54.49 167.48 54.09Q167.17 53.7 166.69 53.7Q166.6 53.7 166.51 53.74Q166.42 53.74 166.16 53.79Q165.94 53.79 165.46 53.87Q165.02 53.92 164.23 54Q163.74 55.06 163.44 55.81Q163.13 56.51 162.91 57.04Q162.69 57.56 162.51 57.96Q162.38 58.31 162.25 58.71Q161.9 59.54 161.63 59.76Q161.37 59.94 161.02 59.94Q160.76 59.94 160.54 59.72Q160.36 59.5 160.36 59.1Q160.36 58.84 160.49 58.49Q160.62 58.09 160.8 57.52Q161.02 56.91 161.24 55.98Q161.5 55.06 161.77 53.7Q160.89 53.3 160.23 51.85Q159.61 50.36 159.61 48.38Q159.61 46.75 160.14 45.08Q160.71 43.41 161.5 42.05Q162.34 40.65 163.26 39.77Q164.23 38.89 164.97 38.89Q165.94 38.89 166.6 40.07Q167.3 41.22 167.3 42.71Q167.3 43.5 167.13 44.34Q166.95 45.13 166.73 45.83Q166.56 46.49 166.38 47.06Q166.21 47.59 166.21 47.9Q166.21 48.29 166.51 48.29Q166.73 48.29 167.3 48.07L169.46 47.11Q170.64 46.62 171.48 46.62Q172.88 46.62 173.32 47.5Q173.81 48.38 173.81 50.09Q173.81 50.84 173.63 52.73Q173.46 54.58 173.24 56.86Q173.06 59.1 172.88 61.34Q172.75 63.58 172.75 64.99Q172.75 66.53 173.06 67.28Q173.41 67.98 174.51 67.98Q175.3 67.98 176.05 67.06Q176.84 66.13 177.54 64.73Q178.25 63.32 178.86 61.65Q179.52 59.98 180.05 58.44Q180.44 57.34 181.19 57.34Q181.89 57.34 181.89 58.14Q181.89 58.27 181.85 58.4Q181.85 58.53 181.81 58.71Z" />
				</svg>
			</a>
			<div class="HeaderMenuItem">
				<button class="MenuItemListButton" onclick="OnMenuItemOrdersClick()" onfocus="OnMenuItemOrdersFocus()" onblur="OnMenuItemOrdersBlur()">Заказы</button>
				<div class="MenuItemDropDownList">
					<div onmousedown="window.location='@Url.Action("Index", "Home")'">Текущие заказы</div>
					<div onmousedown="window.location='@Url.Action("Completed", "Home")'">Выполненные</div>
				</div>
			</div>
			<div class="HeaderRightSide">
				<a class="LogoutLink" href="/Identity/Account/Logout">
					<svg viewBox="0 0 512 512">
						<path d="M320 176v-40a40 40 0 00-40-40H88a40 40 0 00-40 40v240a40 40 0 0040 40h192a40 40 0 0040-40v-40M384 176l80 80-80 80M191 256h273" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
					</svg>
					<p>Logout</p>
				</a>
			</div>
		</div>
	</header>
	<main class="MasterMain">
		<div class="InnerMainDiv">
			@RenderBody()
		</div>
	</main>
	<footer class="Footer">
		<div class="FooterInnerDiv">
			<div class="FooterBlock">
				<h4 class="FooterBlockTitle">Интернет-магазин</h4>
				<a class="FooterBlockLink" href="#">Возможности</a>
				<a class="FooterBlockLink" href="#">Разработчикам</a>
				<a class="FooterBlockLink" href="#">Мобильное приложение</a>
				<a class="FooterBlockLink" href="#">Соглашение о предоставлении услуг</a>
			</div>
			<div class="FooterBlock">
				<h4 class="FooterBlockTitle">Поддержка</h4>
				<a class="FooterBlockLink" href="#">База знаний</a>
				<a class="FooterBlockLink" href="#">Форум</a>
				<a class="FooterBlockLink" href="#">Состояние сервиса</a>
				<a class="FooterBlockLink" href="#">Свяжитесь с нами</a>
			</div>
			<div class="FooterBlock">
				<h4 class="FooterBlockTitle">Компания</h4>
				<a class="FooterBlockLink" href="#">О нас</a>
				<a class="FooterBlockLink" href="#">Для прессы</a>
				<a class="FooterBlockLink" href="#">Партнёрская программа</a>
				<a class="FooterBlockLink" href="#">Для веб-студий</a>
				<a class="FooterBlockLink" href="#">Работа в Эквид</a>
			</div>
			<div class="FooterBlock">
				<h4 class="FooterBlockTitle">Сообщество</h4>
				<a class="FooterBlockLink" href="#">
					<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<path d="M21.579 6.855c.14-.465 0-.806-.662-.806h-2.193c-.558 0-.813.295-.953.619 0 0-1.115 2.719-2.695 4.482-.51.513-.743.675-1.021.675-.139 0-.341-.162-.341-.627V6.855c0-.558-.161-.806-.626-.806H9.642c-.348 0-.558.258-.558.504 0 .528.79.65.871 2.138v3.228c0 .707-.127.836-.407.836-.743 0-2.551-2.729-3.624-5.853-.209-.607-.42-.852-.98-.852H2.752c-.627 0-.752.295-.752.619 0 .582.743 3.462 3.461 7.271 1.812 2.601 4.363 4.011 6.687 4.011 1.393 0 1.565-.313 1.565-.853v-1.966c0-.626.133-.752.574-.752.324 0 .882.164 2.183 1.417 1.486 1.486 1.732 2.153 2.567 2.153h2.192c.626 0 .939-.313.759-.931-.197-.615-.907-1.51-1.849-2.569-.512-.604-1.277-1.254-1.51-1.579-.325-.419-.231-.604 0-.976.001.001 2.672-3.761 2.95-5.04z"></path>
					</svg>
					<p>ВКонтакте</p>
				</a>
				<a class="FooterBlockLink" href="#">
					<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<path d="m20.665 3.717-17.73 6.837c-1.21.486-1.203 1.161-.222 1.462l4.552 1.42 10.532-6.645c.498-.303.953-.14.579.192l-8.533 7.701h-.002l.002.001-.314 4.692c.46 0 .663-.211.921-.46l2.211-2.15 4.599 3.397c.848.467 1.457.227 1.668-.785l3.019-14.228c.309-1.239-.473-1.8-1.282-1.434z"></path>
					</svg>
					<p>Телеграм</p>
				</a>
				<a class="FooterBlockLink" href="#">
					<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<path d="M13.397 20.997v-8.196h2.765l.411-3.209h-3.176V7.548c0-.926.258-1.56 1.587-1.56h1.684V3.127A22.336 22.336 0 0 0 14.201 3c-2.444 0-4.122 1.492-4.122 4.231v2.355H7.332v3.209h2.753v8.202h3.312z"></path>
					</svg>
					<p>Facebook</p>
				</a>
				<a class="FooterBlockLink" href="#">
					<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<path d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.036 4.036 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.027 4.027 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.022 4.022 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.457 11.457 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a7.957 7.957 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8.073 8.073 0 0 0 2.319-.624 8.645 8.645 0 0 1-2.019 2.083z"></path>
					</svg>
					<p>Twitter</p>
				</a>
				<a class="FooterBlockLink" href="#">
					<svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
						<path d="M21.593 7.203a2.506 2.506 0 0 0-1.762-1.766C18.265 5.007 12 5 12 5s-6.264-.007-7.831.404a2.56 2.56 0 0 0-1.766 1.778c-.413 1.566-.417 4.814-.417 4.814s-.004 3.264.406 4.814c.23.857.905 1.534 1.763 1.765 1.582.43 7.83.437 7.83.437s6.265.007 7.831-.403a2.515 2.515 0 0 0 1.767-1.763c.414-1.565.417-4.812.417-4.812s.02-3.265-.407-4.831zM9.996 15.005l.005-6 5.207 3.005-5.212 2.995z"></path>
					</svg>
					<p>YouTube</p>
				</a>
			</div>
			<div class="FooterBlock">
				<p class="FooterCopyRight">© 2021 Master</p>
			</div>
		</div>
	</footer>
</body>
</html>