<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>

	@Scripts.Render("~/bundles/jquery")
	<script src="/Scripts/jquery.validate.min.js"></script>
	<script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>

	<link rel="stylesheet" href="/Content/AuthStyle.css" />
</head>
<body>
	<div class="LoginFormMainOuterDiv">
		<div class="LofinFormBlurDiv"></div>

		<div class="LoginFormMainInnerDiv">
			<div class="AuthHeadDiv">
				<div class="AuthTitleStyle">CAR COLLECTION</div>
			</div>
			<div class="AuthMainContentDiv">
				<div class="AuthFormDiv">
					@using (Html.BeginForm("Save", "Auth", FormMethod.Post, new { enctype = "multipart/form-data" }))
					{
						@Html.AntiForgeryToken()
						@Html.ValidationSummary(true)

						@RenderBody()
					}
				</div>
			</div>
		</div>
	</div>
</body>
</html>